@media (max-width: 1120px) and (min-width: 769px) {
    .panel {
        height: 180px;
    }
    .hedline__wrapper {
        max-width: 1080px;
        display: block;
        position: relative;
        margin: 0 auto;
        height: 400px;
        padding: 0px 20px 0px 20px;
    }
    .panel__sosial {
        display: block;
        margin: auto;
    }
    .panel__heading {
        text-align: center;
        margin: auto;
    }
    .panel__text {
        text-align: center;
    }
    .panel__cont {
        position: relative;
        margin: auto;
        max-width: 641px;
    }
    /*  */
    .sub__wrap {
        position: relative;
        display: -webkit-inline-box;
        top: 50px;
        left: 12%;
    }
    .sub__position {
        max-width: 500px;
        margin-left: 0%;
        display: block;
        position: relative;
    }
    /*  */
    .standart__position-img {
        display: block;
        position: absolute;
        top: 60px;
        left: 11%;
        transform: translateX(50%);
    }
    /*  */
    .contactus__email-position {
        position: relative;
        display: inline-block;
        top: -50px;
        width: 100%;
    }
    .contactus__message-posi {
        display: block;
        position: relative;
        top: 30px;
        max-width: 436px;
        left: 0%;
        transform: translateX(0%);
        margin: auto;
    }
    .contactus {
        height: 930px;
    }
    .message {
        position: relative;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        height: 159px;
        top: 13px;
        width: 100%;
    }
    .tabPosition__btn-contact {
        top: 47px;
    }
    .contactus__container-email {
        top: 0px;
    }
    /*  */
    .prising__container {
        height: 1900px;
    }
    .basicbox__all-conts {
        position: relative;
        display: block;
        max-width: 343px;
    }
    .basicbox-professional {
        display: inline-block;
        position: relative;
        max-width: 343px;
        margin-left: 0px;
        margin-top: 45px;
    }
    .basicbox-enterprise {
        display: block;
        position: relative;
        max-width: 343px;
        margin-left: 0px;
        margin-top: 45px;
    }
    .basicbox-basic {
        position: relative;
    }
    .block {
        height: auto;
        background-color: #ffffff;
        padding: 0px 0px 30px 0px;
    }
    .contsub {
        height: auto;
        background-color: #ffffff;
        padding: 0px 0px 130px 0px;
    }
    .skills {
        max-width: 350px;
        position: relative;
        margin: auto;
        padding: 0px 20px 30px 20px;
        display: block;
    }
}