@media (max-width: 425px) and (min-width: 320px){
    .menu__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .menu {
        background-color: #37495e;
        width: 100%;
        height: 100px;
    }
    .icon {
        width: 190px;
        height: 29px;
        position: relative;
        left: 25%;
    }
    .menu__nav {
        font-family: "Open Sans";
        text-align: center;
        text-decoration: none;
        list-style: none;
        font-size: 14px;
        font-weight: 400;
        display: block;
        margin-top: 15px;
        word-spacing: 25px;
    }
    .menu__link {
        opacity: 0.69;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        padding: 0px 0px 0px 0px;
    }
    /*  */
    .banner {
        height: auto;
        background: url(img/banner.png) no-repeat center;
        background-size: cover;
        margin: 0 auto;
        position: relative;
    }
    .headline {
        display: block;
        position: absolute;
        top: 200px;
    }
    .headline {
        display: block;
        position: absolute;
        top: 200px;
        left: 0%;
        transform: translateX(0%);
    }
    .hedline__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .modern {
        position: relative;
        margin-bottom: 30px;
        max-width: 300px;
        top: 0px;
        margin: auto;
        text-align: center;
        display: block;
    }
    .headline__text {
        opacity: 0.8;
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
        line-height: 23px;
        margin-bottom: 0px;
        max-width: 300px;
        margin: auto;
        text-align: center;
        top: 0px;
        padding: 10% 0 10%;
    }
    .headline__position {
        position: relative;
        display: block;
        max-width: 525px;
        padding: 20% 0 0;
        margin: auto;
    }
    .headline__btn {
        position: relative;
        display: block;
        width: 135px;
        top: 0px;
        left: -4%;
        margin: auto;
    }
    .btn {
        background-color: #ff8b38;
        vertical-align: middle;
        padding: 15px 20px 15px;
        border: 2px solid #ff8b38;
        color: #ffffff;
        font-family: "Open Sans";
        font-size: 15px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
    }
    .box {
        max-width: 300px;
        position: relative;
        margin: auto;
        left: 0%;
        transform: translateX(0%);
        top: 0px;
        display: block;
    }
    /*  */
    .panel {
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
        background-color: #ffffff;
        width: 100%;
        height: auto;
    }
    .panel__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .panel__heading {
        color: #333333;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        max-width: 125px;
        padding: 20px 0px 12px;
        margin: auto;
    }
    .panel__text {
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        max-width: 400px;
        text-align: center;
        margin: auto;
    }
    .panel__cont-li {
        display: inline-block;
        position: relative;
        margin-left: 20px;
    }
    .panel__cont {
        display: block;
        position: relative;
        max-width: 276px;
        padding: 20px 20px 20px 20px;
        margin: auto;
    }
    .panel__icon-facebook {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-twitter {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-google {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-pint {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-inst {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-stumb {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-rss {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    /*  */
    .tab__container {
        height: 1000px;
        background-color: #f5f5f5;
    }
    .tab__wrap {
        position: relative;
        display: block;
        top: 50px;
    }
    .tab__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .tabPosition__tab-btn {
        max-width: 250px;
        position: relative;
        top: -0px;
        left: 0%;
        transform: translateX(0%);
    }
    .tab__position-btn-tab {
        display: -webkit-box;
        position: relative;
    }
    .tabPosition {
        position: relative;
        display: block;
    }
    .tabPosition__heading {
        margin-bottom: 40px;
        max-width: 250px;
        color: #000000;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        margin-top: 25px;
    }
    .tabPosition__text {
        position: relative;
        display: block;
        max-width: 250px;
        margin-bottom: 150px;
    }
    .text-lorem {
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        position: relative;
        margin-bottom: 100px;
        max-width: 250px;
    }
    .tabPosition__btn {
        position: relative;
        display: block;
        top: 50px;
    }
    /*  */
    .contsub {
        height: 540px;
        background-color: #ffffff;
    }
    .contsub__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .contsub__image {
        max-width: 0px;
        position: relative;
        margin-top: 160px;
        height: 0px;
    }
    .sub__wrap {
        position: relative;
        display: -webkit-inline-box;
        left: 0%;
        top: -100px;
    }
    .sub__position {
        max-width: 500px;
        margin-left: 0%;
        display: block;
        position: relative;
    }
    .sub__hedliner {
        color: #212121;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        line-height: 43px;
        margin-bottom: 45px;
        margin: auto;
        text-align: center;
    }
    .sub__hedliner:before {
        content: "";
        height: 2px;
        width: 100%;
        background-color: #ff8b38;
        position: absolute;
        width: 64px;
        top: 60px;
        left: 40%;
    }
    .sub-text {
        color: #86878b;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        position: relative;
        margin-bottom: 40px;
        top: 40px;
    }
    .list {
        display: block;
        position: relative;
        margin-bottom: 40px;
        margin-left: 20%;
        top: 40px;
    }
    /*  */
    .standart__container {
        height: auto;
        background-color: #f5f5f5;
    }
    .standart__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .standart__position {
        display: block;
        max-width: 300px;
        position: relative;
        margin: auto;
    }
    .standart__hedline {
        color: #212121;
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        line-height: 43px;
        margin-bottom: 50px;
        text-align: center;
        position: relative;
    }
    .standart__hedline:before {
        content: "";
        height: 2px;
        width: 100%;
        background-color: #ff8b38;
        position: absolute;
        width: 64px;
        top: 60px;
        left: 40%;
    }
    .standart__position-img {
        display: block;
        position: absolute;
        top: 70px;
        max-width: 0px;
        left: 1%;
        transform: translateX(50%);
    }
    /*  */
    .block {
        height: 1100px;
        background-color: #ffffff;
    }
    .block__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .block__text:before {
        content: "";
        height: 2px;
        background-color: #ff8b38;
        position: absolute;
        width: 64px;
        align-content: center;
        display: block;
        margin-left: 42%;
        top: -30px;
    }
    .block__positoin {
        position: relative;
        display: block;
        top: 50px;
        margin-bottom: 120px;
    }
    /*  */
    .prising__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .prising____position {
        position: relative;
        display: block;
        top: 50px;
        margin-bottom: 130px;
    }
    .prising__container {
        height: 1900px;
        background-color: #f5f5f5;
    }   
    /*  */
    .custom__container {
        height: 546px;
        background-color: #ffffff;
    } 
    .custom__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .reviews__position {
        align-content: center;
        display: block;
        position: absolute;
        top: 300px;
        max-width: 273px;
        left: 18%;
    }
    /*  */
    .design {
        background: url(img/customPanel.png) no-repeat center;
        background-size: cover;
        height: 320px;
        max-width: 425px;
    }
    .design {
        background: url(img/customPanel.png) no-repeat center;
        background-size: cover;
        height: 320px;
        max-width: 425px;
    }
    .design__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .design__position {
        position: relative;
        display: block;
        top: 30px;
    }
    .design__hedliner {
        max-width: 300px;
        color: #ffffff;
        font-family: Raleway;
        font-size: 36px;
        font-weight: 400;
        text-transform: uppercase;
        margin: auto;
        margin-bottom: 50px;
        text-align: center;
    }
    .design__text-design {
        max-width: 300px;
        opacity: 0.8;
        color: #ffffff;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 100px;
        text-align: center;
    }
    .text-design:before {
        content: "";
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        width: 64px;
        align-content: center;
        display: block;
        margin-left: 28%;
        top: 95px;
    }
    /*  */
    .contactus {
        height: auto;
        background-color: #ffffff;
    }
    .contactus__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .contactus__email-all {
        margin-top: -50px;
        max-width: 350px;
        position: relative;
        display: block;
        margin: auto;
    }
    .name-contact {
        width: 100%;
        height: 31px;
        box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
        border: 0px;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }
    .password-contact {
        width: 100%;
        height: 31px;
        box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
        border: 0px;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }
    .email-contact {
        width: 100%;
        height: 31px;
        box-shadow: 0 1px 0 rgba(0, 0, 1, 0.16);
        border: 0px;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
    }
    .contactus__message-posi {
        display: block;
        position: relative;
        top: 60px;
        max-width: 350px;
        margin: auto;
        margin-bottom: 130px;
        left: 0%;
    }
    .message {
        position: relative;
        color: #bdbdbd;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        height: 159px;
        top: 13px;
        width: 100%;
    }
    /*  */
    .footer__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .panel__wrapper {
        max-width: 395px;
        display: block;
        position: relative;
        margin: 0 auto;
        padding: 0px 15px 0px 15px;
        height: 100%;
    }
    .panel__cont-li-little {
        display: inline-block;
        position: relative;
        margin-left: 20px;
    }
    .panel__cont-little {
        display: block;
        position: relative;
        max-width: 276px;
        padding: 20px 20px 20px 20px;
        margin: auto;
    }
    .panel__icon-facebook-little {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-twitter-little {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-google-little {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-pint-little {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-inst-little {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-stumb-little {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .panel__icon-rss-little {
        transition: 0.3s; 
        font-size: 20px;
        color: #cccccc;
        display: inline-block;
        position: relative;
        text-decoration: none;
    }
    .skills {
        max-width: 350px;
        position: relative;
        margin: auto;
        padding: 0px 20px 0px 20px;
        display: block;
    }
    .contsub {
        background-color: #ffffff;
        height: none;
    }   
    .basicbox__all-conts {
        max-width: 300px;
        position: relative;
        display: block;
        margin: 0 auto;
        top: -50px;
    }   
    .basicbox-basic {
        display: block;
        position: relative;
        max-width: 300px;
        margin-bottom: 450px;
    }   
    .basicbox-professional {
        display: block;
        position: relative;
        max-width: 343px;
        margin-left: 0px;
        top: 610px;
    }   
    .basicbox-enterprise {
        display: block;
        position: relative;
        max-width: 343px;
        margin-left: 0px;
        top: 50px;
    }
    .position-img {
        max-width: 453px;
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding: 10% 0% 0% 0%;
    }
    .tabPosition__img {
        position: absolute;
        display: none;
        top: 60px;
        left: 55%;
        transform: translateX(50%);
    }
    .reviews {
        display: none;
    }
    .reviews-free {
        max-width: 273px;
        display: inline-block;
        position: relative;
        top: -50px;
        margin-bottom: 100px;
        margin: auto;
        padding: 0px 0px 0px 0px;
    }
    .tabPosition__btn-contact {
        position: relative;
        display: block;
        max-width: 180px;
        margin: auto;
        top: -15px;
    }
}