@import url('https://fonts.googleapis.com/css?family=Oswald:400,500&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.wrapper {
	width: 1080px;
	display: block;
	position: relative;
	margin: 0 auto;
}

.menu {
	background-color: #37495e;
	width: 100%;
	height: 70px;
}
.menu__wrapper {
	width: 1080px;
	display: block;
	position: relative;
	margin: 0 auto;
	height: 70px;
}
.menu__icon {
	margin-top: 20px;
}
.icon {
	width: 190px;
	height: 29px;
}
.menu__nav {
	font-family: "Open Sans" ;
	text-align: right;
	text-decoration: none;
    list-style: none;
    font-size: 14px;
	font-weight: 400;
	display: block;
	margin-top: -20px;
}
.menu__item {
	display: inline;
}
.menu__link {
	opacity: 0.69;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
    text-align: center;
    text-decoration: none;
    padding: 0px 0px 0px 49px;
}
.menu__link:hover {
	color: #ffffff;
	opacity: 1;
}
/* baneer */
.banner {
	height: 640px; 
	background: url("img/banner.png") no-repeat center;
	background-size: cover;
	margin: 0 auto;
	position: relative;
}
.headline {
	display: block;
    position: relative;
}
.headline__position {
	display: block;
    position: relative;
    top: -300px;
}
.position {
	height: 70px;
}
.headline__modern {
	color: #ffffff;
	font-family: Raleway;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
	width: 525px;
}
.modern {
	
}
.headline__text {
	opacity: 0.8;
	color: #ffffff;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 300;
	line-height: 23px;
}
.headline__btn {
	position: relative;
    top: -390px;
    display: block;
}
.btn {
	vertical-align: middle;
    padding: 15px 20px 15px;
    border: 2px solid #ffffff;
    background-color: transparent;
    color: #ffffff;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}
